.custom-button {
  min-width: 16.5rem;
  width: auto;
  height: 5rem;
  letter-spacing: 0.5px;
  line-height: 5rem;
  padding: 0 3.5rem 0 3.5rem;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: inherit;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
  transition: all .05s;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transform: translateY(-.2rem) scale(1.05);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
  }
  &:active {
    transform: translateY(.1rem) scale(1);
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.15);
  }
  &.google-sign-in{
    background-color: #4285f4;
    color: white;

    &:hover{
      background-color: #357ae8;
      border: none;
    }
  }
  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}