@import "../../assets/mixin";

.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  .title {
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
    cursor: pointer;
  }

  .preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;

    @include respond(tab-land) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include respond(phone) {
      grid-template-columns: 1fr 1fr;
    }
  }
}