.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  .title {
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
    cursor: pointer;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}