.sign-in {
  width: 380px; //unexpected error occurs in design when the width property is set under the flex properties
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
