.sign-in {
  width: 38rem; //unexpected error occurs in design when the width property is set under the flex properties
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;

  .title {
    margin: 10px 0;
    font-size: 2.4rem;
  }

  span {
    font-size: 1.4rem;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
