@import "../../assets/mixin";

.header {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  font-size: 1.6rem;
  z-index: 2;

  @include respond(phone) {
    font-size: 1.4rem;
  }

  .logo-container {
    width: 18rem;
    padding: 2.5rem;

    @include respond(phone) {
      width: 7.5rem;
      padding: 1.5rem;
    }

    .logo {
      width: 100%;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include respond(phone) {
      width: 80%;

    }

    .option {
      padding: 1rem 1.5rem;
      cursor: pointer;

      @include respond(phone) {
        padding: 1rem .5rem;
      }

    }
  }
  @include respond(phone) {
    .option__sign-in {
      white-space: nowrap; //to avoid line break when the width is too small
    }
  }
}