body{
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
}
a{
    text-decoration: none;
    color: black;
}

*{
    box-sizing: border-box; /*to make everything in a box(flex) in line//elements with padding tends to overflow from the box */
}